/*colors*/
$black: #333;
$grey: #efefef;
$red: #fc354c;
$white: #fff;
$blue: #6ab4ff;
$gray: #494949;
$green: #42A10E;

/*fontpacks*/
$fontpack: "Lucida Console", Monaco, monospace;

/*sidebar*/
$sidebar_width: 300px;
